@import "tailwindcss";

body {
  background-color: #f9fafb;
  color: #111827;
  font-family: ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom styles for printing */
@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}
